In [1]:
import pandas as pd

In [4]:
data= {'nombre':['maria','jose','david','ivan'],
       'carrera':['auditoris','informatica','derecho','idiomas'],
      'correo':['maria@gmail.com','jose@gmail.com','david@gmail.com','ivan@gmail.com']}

In [5]:
estudiantes= pd.DataFrame(data)

In [6]:
print(estudiantes)

  nombre      carrera           correo
0  maria    auditoris  maria@gmail.com
1   jose  informatica   jose@gmail.com
2  david      derecho  david@gmail.com
3   ivan      idiomas   ivan@gmail.com

In [8]:
df= pd.DataFrame([['maria',27],['david',33],['ana',18],['jose',17]],columns=['nombre','edad'])

In [9]:
print(df)

  nombre  edad
0  maria    27
1  david    33
2    ana    18
3   jose    17

In [10]:
import numpy as np

In [13]:
df= pd.DataFrame(np.random.randn(9,3),columns=['a','b','c'])

In [14]:
print(df)

          a         b         c
0  1.360050  0.381259 -0.633501
1  0.595260  0.831292  1.615760
2  0.778530  0.899152  0.279091
3  1.761569 -0.218279 -0.859037
4  0.558857 -0.303257  0.818796
5  0.145217 -0.783893 -1.026220
6  0.418758  0.516609  0.713206
7  0.163518 -0.857337 -0.186475
8 -0.603578 -0.988969 -0.636530