In [1]:
import pandas as pd

In [14]:
DF1= pd.DataFrame({'autos':['nissan','ford','audi'],
                  'color':['blanco','azul','rojo']}).set_index('autos')

In [15]:
DF2= pd.DataFrame({'autos':['nissan','ford','audi'],
                  'modelo':[2021,2022,2023]}).set_index('autos')

In [16]:
df= pd.concat([DF1,DF2], axis=1)

In [20]:
DF=pd.merge(DF1,DF2,on='autos',how='outer')

In [21]:
DF

         color  modelo
autos
nissan  blanco    2021
ford      azul    2022
audi      rojo    2023